# Titanic 2 - Pandas Data Prep, Groupby and Pivot Activity (student)

In [ ]:
# import the packages 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

## Quick Review of Series: execute each cell.

First, we want to create a `pandas` `Series` object that has length 3 and the first element is `nan`

In [ ]:
s = pd.Series([np.nan,12.03, 43.1])

In [ ]:
s

### Do a numerical operation on the Series

Multiply the series by the scalar 0.5

In [ ]:
s*0.5

### Store the result in another series object

The result of the last operation wasn't stored in a variable, assign the operation to a variable called `s1`

In [ ]:
s1 = s*0.5

In [ ]:
s1

In [ ]:
# We can also add these two series! 
s + s1

## Review of Creating DataFrames: execute each cell.

In [ ]:
# by using a multiple series
df = pd.DataFrame( {'a':s,'b':s1})

In [ ]:
df

In [ ]:
# by using a dict
d = {'a':[1,2,3],
     'b':[9,5,2]}

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df

In [ ]:
# checkout whats in memory right now just for fun
%whos

# Your Turn -- Titanic Revisited -- Pandas EDA

In [ ]:
# now, let's load from a file
df = pd.read_csv('titanic.csv')

## Investigate the DataFrame

Now the titanic data is loaded into the variable `df`, what can we learn about it?

In [ ]:
# The first 5 rows

In [ ]:
# the last 5 rows

In [ ]:
# the column names and their types

In [ ]:
# the length of the dataframe

## Slicing and Dicing

How to select rows and columns

In [ ]:
# Select the 523 row (note ... the result is a Series with the indices represted by column names)
# hint: use the syntax DataFrame.iloc[index_number]

In [ ]:
# assign the information about the passenger at index 450 into another variable
# passenger_523 = df.iloc[523] << example of index 523
# store index 450's content

In [ ]:
# you can index the series using the classic dictionary-like syntax
# Example: passenger_523['Name']  << example of above continued
# Create your own version:

In [ ]:
# Select all the rows where the flag survived = 1 and store in new df called df_survivors

In [ ]:
# show top 5 rows of new dataframe

In [ ]:
# Select all the rows where the flag survived = 1 AND the Sex is male 
# suggesting df named df_survivors_men

In [ ]:
#show first 5 rows

In [ ]:
# Just show the Name and Fare columns or the df_survivors_men dataframe

In [ ]:
# I want all of the male survivors from class 2 or three
# hint on syntax: new df name = df_survivors_men[df_survivors_men["Pclass"].isin([index numbers])]

In [ ]:
# review top five rows of new df

In [ ]:
# I want to remove the records from class_23 that have the Age set as nan
# try using .notna() -- you'll want to look up the syntax
# feel free to assign new data to a new df

In [ ]:
#looking at first 5 rows

## Groupby and Pivot Tables

Panda's DataFrame also allows for you to analyze data using a "groupby" function, which combines split, apply, and combine functions.  See the [O'Reilly Python for Data Science](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html#GroupBy:-Split,-Apply,-Combine) book for a great explanation. 

Pivot tables are multidimensional groupbys!  Read more [here](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html)

Recall the syntax generally follows this pattern:  DataFrame.groupby(on_this_field).aggregation_command.finishing_touches

In [ ]:
# Group the original dataframe by survival, then sum the values in each partition 
# syntax hint above

In [ ]:
# That was great, but the sum of the column values doesn't really make any sense!
# What about finding the mean?

In [ ]:
# Averaging every column doesn't make sense, just pick out the Fare column
#syntax hint: DataFrame.groupby('Group By Column')[Specific_column_of_interest].mean() <<for average of that column of interest

In [ ]:
# Now use groupby differently to determine the survival rate by sex

In [ ]:
# Pivot tables ... this was all great, but what if I want to find the 
# survival rate by sex AND by cabin class?  We use pivot tables:
# syntax hint: DataFrame.pivot_table('Pivot_on_this_column', index='categorical_column for Rows', columns='column_for_values')